html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;   
}


body * {
    box-sizing: border-box;
    background-image: url(arcade.png);
    background-position: center;
}


.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#canvas-game {
    border: 15px solid transparent;
    border-image: url(bg-border.png) 20;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/backgrounds/bg-montefuji.png);
    background-repeat: no-repeat;
    position: relative;
    
}